---
layout: page
title: Home
---

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid w-100 mx-auto d-block" src="/assets/images/what.png" alt="" role="presentation">
        <div class="mb-2">
            <a href="/linux"><h4>Cos'è Linux</h4></a>
            Un sistema operativo, ma non solo...
        </div>
        <div class="mb-2">
            <a href="/faq"><h4>Domande Frequenti</h4></a>
            Dubbi? Leggi qui le domande (e le risposte) più popolari.
        </div>
    </div>

    <div class="col-md-3">
        <img class="img-fluid w-100 mx-auto d-block" src="/assets/images/use.png" alt="" role="presentation">
        <div class="mb-2">
            <a href="/distro"><h4>Scegli e Scarica</h4></a>
            Di "Linux" ce ne sono tanti: scegli quello che fa per te!
        </div>
        <div class="mb-2">
            <a href="/installare"><h4>Come Installare</h4></a>
            Dritte e consigli per installare Linux sul tuo PC.
        </div>
    </div>

    <div class="col-md-3">
        <img class="img-fluid w-100 mx-auto d-block" src="/assets/images/explore.png" alt="" role="presentation">
        <div class="mb-2">
            <a target="_blank" href="https://www.ils.org"><h4>ILS</h4></a>
            L'associazione italiana per la promozione di Linux.
        </div>
        <div class="mb-2">
            <a href="/stickers"><h4>Adesivi</h4></a>
            Ricevi gratuitamente gli stickers a casa tua!
        </div>
    </div>

    <div class="col-md-3">
        <img class="img-fluid w-100 mx-auto d-block" src="/assets/images/contribute.png" alt="" role="presentation">
        <div class="mb-2">
            <a href="/opensource/howto"><h4>How To Open</h4></a>
            Dritte e consigli per aprire il tuo codice sorgente.
        </div>
        <div class="mb-2">
            <a href="/unopercento"><h4>1%</h4></a>
            Lavori con il software libero? Contribuisci a sostenerlo!
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-9 mb-5">
        <p>Hai sentito parlare di Linux, software libero, open source e libertà digitali, e vuoi saperne qualcosa di più? Sei capitato nel posto giusto!</p>
        <p>Tecnologia, filosofia, etica, business e condivisione si fondono nel concetto di "software libero", protagonista del movimento planetario che ha cambiato e continua a cambiare il mondo, non solo quello digitale. Linux ne è una delle espressioni più note e popolari, ma molto altro è da scoprire.</p>
        <p>Se non sai assolutamente nulla su Linux inizia consultando l'elenco di Domande Frequenti e la pagina "Cos'è Linux", troverai certo i primi spunti per addentrarti in questo universo parallelo fatto di termini esotici, tecnologia avanzata, consapevolezza digitale e tanti appassionati.</p>
    </div>
    <div class="col-md-3 text-center">
        <a href="https://www.ils.org/sostieni">
            <img src="https://www.ils.org/assets/images/sostieni_ils.png" alt="Sostieni Italian Linux Society" class="img-fluid">
        </a>
    </div>
</div>
