---
layout: page
title: Contatti
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Per ricevere assistenza tecnica su Linux e su applicazioni libere e open source, puoi <a href="http://lugmap.linux.it/eventi/">cercare uno sportello periodico di assistenza vicino a te</a> oppure scrivere una mail a <img src="https://www.ils.org/assets/images/assistenza.png" style="height: 25px; width: auto; margin-top: -7px"></p>
<p>Attenzione: il servizio di assistenza è gestito da volontari aderenti all'associazione Italian Linux Society e le informazioni inviate a questo indirizzo email sono pubbliche. Si raccomanda pertanto di non riportare numeri di telefono, indirizzi o altre informazioni sensibili. È raccomandato specificare la versione di Linux che si sta usando, marca e modello per proprio PC, ed il contenuto di eventuali messaggi di errore riportati dal sistema.</p>
<p>Per ulteriori contatti, si può consultare la relativa pagina sul sito di <a href="http://www.ils.org/contatti">Italian Linux Society</a>.</p>
