<div id="ils_footer" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
                <div class="cell">
    				<span style="text-align: center; display: block">
    					<a rel="nofollow" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html" rel="license">
    						<img src="https://www.linux.it/shared/index.php?f=immagini/agpl3.svg" style="border-width:0" loading="lazy" alt="AGPLv3 License">
    					</a>

    					<a rel="nofollow" href="https://creativecommons.org/publicdomain/zero/1.0/deed.en_US" rel="license">
    						<img src="https://www.linux.it/shared/index.php?f=immagini/cczero.png" style="border-width:0" loading="lazy" alt="Creative Commons License">
    					</a>
    				</span>
                </div>

                <div class="cell mt-3 text-center">
                    <a href="https://www.ils.org/privacy">Informativa Privacy</a>
                </div>
			</div>

			<div class="col-md-3">
                <div class="cell">
    				<h2>RESTA AGGIORNATO!</h2>
                    <iframe title="Newsletter ILS" src="https://mautic.ldto.it/form/1" width="100%" height="420" frameBorder="0"><p>Your browser does not support iframes.</p></iframe>
                </div>
			</div>

			<div class="col-md-3">
                <div class="cell">
    				<h2>Amici</h2>
    				<p style="text-align: center">
    					<a href="https://www.ils.org/info#aderenti">
    						<img src="https://www.ils.org/external/getrandlogo.php" border="0" loading="lazy" alt="Aderenti a Italian Linux Society" /><br />
    						Scopri tutte le associazioni e le aziende che hanno aderito a Italian Linux Society.
    					</a>
    				</p>
                </div>
			</div>

			<div class="col-md-3">
                <div class="cell">
    				<h2>Network</h2>
    				<script type="text/javascript" src="https://www.ils.org/external/widgetils.js" defer></script>
    				<div id="widgetils"></div>
                </div>
			</div>
		</div>
	</div>

	<div style="clear: both"></div>
</div>

<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.madbob.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ site.matomo_id }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//stats.madbob.org/matomo.php?idsite={{ site.matomo_id }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
