---
layout: page
title: TODO
description: Idee e spunti per contribuire attivamente alla cultura libera
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Vuoi attivamente contribuire alla community delle libertà digitali? Esistono una infinità di modi, molti dei quali non prevedono alcuna competenza tecnica specifica ma solo un poco di ingegno. Qui di seguito alcuni spunti, periodicamente aggiornati (e pubblicati sulla <a href="https://www.ils.org/">newsletter di Italian Linux Society</a>), da cui prendere ispirazione e mettere in pratica da solo o con il tuo gruppo locale.</p>

<hr>

<div class="row">
    {% assign sorted_todos = site.todos | sort | reverse %}
    {% for todo in sorted_todos %}
        <div class="col-md-6">
            {% include todo.html todo=todo %}
        </div>
    {% endfor %}
</div>
