<!DOCTYPE html>
<html lang="en">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Chivo:900">
        <link rel="stylesheet" href="/opensource/licenze/assets/css/application.css">
        <link rel="shortcut icon" href="/opensource/licenze/favicon.ico" type="image/x-icon">
        <!--[if lt IE 9]>
        <script src="//www.linux.it/opensource/licenze/assets/vendor/html5shiv/dist/html5shiv.js"></script>
        <script src="//www.linux.it/opensource/licenze/assets/vendor/selectivizr/selectivizr.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>{{ page.title }} | Scegli una Licenza</title>

        {% seo %}
    </head>
    <body class="default {{ page.custom_class }}">
        <div class="container">
            {{ content }}

            <footer class="site-footer clearfix">
                <nav>
                    <a href="/opensource/licenze/about/">About</a>
                </nav>
                <p>
                    I contenuti di questo sito sono distribuiti secondo i termini della licenza <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>.
                </p>
                <div class="with-love">
                    Mantenuto con &lt;3 da <a href="https://www.ils.org/">Italian Linux Society</a> sulla base del progetto <a href="https://github.com/github/choosealicense.com">ChooseALicense.com di GitHub</a>
                </div>
            </footer>
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['disableCookies']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.madbob.org/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 8]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//stats.madbob.org/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
    </body>
</html>
